<?xml version="1.0" encoding="UTF-8"?>
<con:interface xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="con:RestService" id="2270c029-5022-460e-8956-6dd6e012f4b7" name="Mod10Check" type="rest_ex" wadlVersion="https://swagger.io/openapiv3/specification">
  <con:settings id="34d8b53f-c455-4a7e-b259-01db4110607d">
    <con:setting id="2270c029-5022-460e-8956-6dd6e012f4b7fileName">Mod10Check</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart="Mod10Check.json">
    <con:part>
      <con:url>Mod10Check.json</con:url>
      <con:content>{"openapi":"3.0.1","info":{"title":"Mod10Check","version":"1.0.0"},"servers":[{"url":"/"}],"paths":{"/vtps/rest/mod10check":{"description":"","get":{"description":"","responses":{"default":{"description":"Default response"}}},"post":{"description":"","requestBody":{"content":{"application/json":{}}},"responses":{"default":{"description":"Default response"}}}}},"components":{"securitySchemes":{"User Iahmed":{"type":"http","scheme":"basic"}}}}</con:content>
      <con:type>https://swagger.io/openapiv3/specification</con:type>
    </con:part>
  </con:definitionCache>
  <con:endpoints>
    <con:endpoint>https://upgrade.velocitypayment.com</con:endpoint>
    <con:endpoint>https://www.velocitypayment.com</con:endpoint>
  </con:endpoints>
  <con:environmentSpec>
    <con:entry environmentId="aa4d56c4-4e85-4b90-9700-66af5a100817">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="541337b0-c6f7-463f-bdba-824b4f050119">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="bb4dcb85-8c5e-4939-886c-adcfb6488361">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="5798e577-c4f8-42fa-8769-7363888198d0">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="c9e92ed4-8add-4a14-968f-39f6854fb249">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:interface>
