<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="dab872b6-8473-4383-b87b-673ba382eb3e" name="Test Suite 2" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="dab872b6-8473-4383-b87b-673ba382eb3efileName">Test-Suite-2</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
