<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="d572e502-656a-4be3-a0e2-928f7aecafc8" name="Test Suite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="d572e502-656a-4be3-a0e2-928f7aecafc8fileName">Test-Suite-1</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="359f9592-92b8-4782-9e0a-30ec59b1ae5a">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="aa4d56c4-4e85-4b90-9700-66af5a100817">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="541337b0-c6f7-463f-bdba-824b4f050119">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="bb4dcb85-8c5e-4939-886c-adcfb6488361">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="5798e577-c4f8-42fa-8769-7363888198d0">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="c9e92ed4-8add-4a14-968f-39f6854fb249">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
