<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="7f809876-bd72-422a-adcc-1ad8fcd2134b" name="https://qa.velocitypayment.com TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="7f809876-bd72-422a-adcc-1ad8fcd2134bfileName">https%3A%2F%2Fqa.velocitypayment.com-TestSuite</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="359f9592-92b8-4782-9e0a-30ec59b1ae5a">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
