<?xml version="1.0" encoding="UTF-8"?>
<con:interface xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config" xsi:type="con:RestService" id="b524b9ec-4c54-42e9-b97b-21fa33e3ef83" wadlVersion="http://wadl.dev.java.net/2009/02" name="REST Service 20" type="rest">
  <con:settings id="ec2eb37e-ee70-4d98-b730-7b3d52e1810c">
    <con:setting id="b524b9ec-4c54-42e9-b97b-21fa33e3ef83fileName">REST-Service-20</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints/>
  <con:environmentSpec>
    <con:entry environmentId="359f9592-92b8-4782-9e0a-30ec59b1ae5a">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="aa4d56c4-4e85-4b90-9700-66af5a100817">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="541337b0-c6f7-463f-bdba-824b4f050119">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="bb4dcb85-8c5e-4939-886c-adcfb6488361">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="5798e577-c4f8-42fa-8769-7363888198d0">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="c9e92ed4-8add-4a14-968f-39f6854fb249">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:interface>
