<?xml version="1.0" encoding="UTF-8"?>
<con:interface xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="con:RestService" id="68d2e90d-f9dd-4108-bc19-c21e148e28ed" name="CANverification" type="rest_ex" wadlVersion="https://swagger.io/openapiv3/specification">
  <con:settings id="e899f42d-501d-4eca-9b66-c478bf9a791c">
    <con:setting id="68d2e90d-f9dd-4108-bc19-c21e148e28edfileName">CANverification</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart="CANverification.json">
    <con:part>
      <con:url>CANverification.json</con:url>
      <con:content>{"openapi":"3.0.1","info":{"title":"CANverification","version":"1.0.0"},"servers":[{"url":"/"}],"paths":{"/vtps/rest/cancheck":{"get":{"responses":{"default":{"description":"Default response"}}},"post":{"requestBody":{"content":{"application/json":{}}},"responses":{"default":{"description":"Default response"}}}}},"components":{"securitySchemes":{"User Iahmed":{"type":"http","scheme":"basic"}}}}</con:content>
      <con:type>https://swagger.io/openapiv3/specification</con:type>
    </con:part>
  </con:definitionCache>
  <con:endpoints>
    <con:endpoint>https://qa.velocitypayment.com</con:endpoint>
    <con:endpoint>https://qa2.velocitypayment.com</con:endpoint>
    <con:endpoint>https://upgrade.velocitypayment.com</con:endpoint>
    <con:endpoint>https://www.velocitypayment.com</con:endpoint>
  </con:endpoints>
  <con:environmentSpec>
    <con:entry environmentId="aa4d56c4-4e85-4b90-9700-66af5a100817">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="541337b0-c6f7-463f-bdba-824b4f050119">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="bb4dcb85-8c5e-4939-886c-adcfb6488361">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="5798e577-c4f8-42fa-8769-7363888198d0">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="c9e92ed4-8add-4a14-968f-39f6854fb249">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:interface>
