<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite xmlns:con="http://eviware.com/soapui/config" id="66c51796-b063-4ae2-af3a-6f7fed695abb" name="WebSocketTesting">
  <con:settings id="b7561ee3-f88b-443f-99fa-0384e1385c78">
    <con:setting id="66c51796-b063-4ae2-af3a-6f7fed695abbfileName">WebSocketTesting</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="aa4d56c4-4e85-4b90-9700-66af5a100817">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="541337b0-c6f7-463f-bdba-824b4f050119">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="bb4dcb85-8c5e-4939-886c-adcfb6488361">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="5798e577-c4f8-42fa-8769-7363888198d0">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="c9e92ed4-8add-4a14-968f-39f6854fb249">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
